<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
    <a tabindex="1" href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
        <nav id="drawer">
            <h3>Berbuka Apps</h3>
            <ul>
                <li><a tabindex="3" href="/">Home</a></li>
                <li><a tabindex="4" href="#">Favorite</a></li>
                <li><a tabindex="5" href="https://github.com/zakiyul" target="_blank">About Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <header>
            <button tabindex="2" id="humberger">☰</button>
            <h2>Berbuka Apps</h2>
        </header>
        <div class="container">
            <h3>Kafe Kita</h3>
            <img src="https://restaurant-api.dicoding.dev/images/medium/25" alt="resto">
            <pre>
                Jln. Pustakawan no 9, Gorontalo
            </pre>
            <p>
                Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
            </p>
            <h5>menu makanan</h5>
            <ul>
                <li>kari</li>
                <li>ikan teri</li>
                <li>roket penne</li>
                <li>salad</li>
                <li>tumis leek</li>
            </ul>
            <h5>menu minuman</h5>
            <ul>
                <li>kari</li>
                <li>ikan teri</li>
                <li>roket penne</li>
                <li>salad</li>
                <li>tumis leek</li>
            </ul>
            <section>
                <div>
                    <strong>Ahmad</strong>
                    <blockquote>Tidak ada duanya</blockquote>
                    <small>14 Agustus 2019</small>
                </div>
                <div>
                    <strong>Ahmad</strong>
                    <blockquote>Tidak ada duanya</blockquote>
                    <small>14 Agustus 2019</small>
                </div>
                <div>
                    <strong>Ahmad</strong>
                    <blockquote>Tidak ada duanya</blockquote>
                    <small>14 Agustus 2019</small>
                </div>
                <div>
                    <strong>Ahmad</strong>
                    <blockquote>Tidak ada duanya</blockquote>
                    <small>14 Agustus 2019</small>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <p>Copyright &copy; 2022 ZKKI Technologies</p>
    </footer>
</body>
</html>

