<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="manifest.json">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
    <a tabindex="1" href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
        <nav id="drawer">
            <h3>Berbuka Apps</h3>
            <ul>
                <li><a tabindex="3" href="/">Home</a></li>
                <li><a tabindex="4" href="#">Favorite</a></li>
                <li><a tabindex="5" href="https://github.com/zakiyul" target="_blank">About Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <header>
            <button tabindex="2" id="humberger">☰</button>
            <h2>Berbuka Apps</h2>
        </header>
        <div class="container">
            <!-- content -->
        </div>
    </main>
    <footer>
        <p>Copyright &copy; 2022 ZKKI Technologies</p>
    </footer>
</body>
</html>

