<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Berbuka Restaurant Fasting">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <!-- Mobile  -->
    <div class="mobile">
      <div id="humberger"><a href="#">&#9776;</a></div>
      <h2>Berbuka Apps</h2>
      <div>&nbsp;</div>
    </div>
    <nav id="drawer">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li>
          <a href="https://github.com/zakiyul" target="_blank">About Us</a>
        </li>
      </ul>
    </nav>
  
    <!-- Desktop -->
    <nav class="nav desktop">
      <h3>Berbuka Apps</h3>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li>
          <a href="https://github.com/zakiyul" target="_blank">About Us</a>
        </li>
      </ul>
    </nav>
    <main>
        <div class="container" id="maincontent">
            <!-- content -->
        </div>
    </main>
    <footer>
        <p>Copyright &copy; 2022 ZKKI Technologies</p>
    </footer>
</body>
</html>

